/* header-area */
.head{
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #68A2A9;
    font-size: 50px;
}
/* main-area */
.container{
    padding: 20px;
}
.side{
    background-color: #f6fbf9;
    margin-left: 150px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 50px;
}
.text-center{
    margin-top: 15px;
}
.img{
    width: 690px;
    height: 680px;
    border-radius: 10px;
    box-shadow: 0 8px 8px -4px lightblue;
}
input{
    border-radius: 80vw;
    outline: none;
    background: none;
}
.error{
    color: red;
    text-align: center;
}
.btn{
    margin-left: 180px;
}

/* Media query */

/* Mobile-Devise */
@media only screen and (min-width: 688px) and (max-Width: 992px){
.container{
    width: 100%;
}
.img{
    width: 590px;
}

}