/* header-area */
.head{
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(111, 189, 103);
    font-size: 50px;
}
/* main-area */
main{
    padding: 20px;
}
.side{
    background-color: #f6fbf9;
    margin-left: 214px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 50px;
}
.text-center{
    margin-top: 15px;
}
.img{
    width: 690px;
    border-radius: 10px;
    box-shadow: 0 8px 8px -4px lightblue;
}
input{
    border-radius: 80vw;
    outline: none;
    background: none;
}
.btn{
    margin-left: 180px;
}
.amount{
    display: none;
}

/* Media query */

/* Mobile-Devise */
@media only screen and (min-width: 688px) and (max-Width: 992px){
.container{
    width: 100%;
}

}